.center-content {
  text-align: center; /* 中央 */
}


.sketch a img:hover {
  filter: brightness(1.1);
  transform: scale(1.03);
  transition: 0.1s;
}

ul {
  list-style: none; /* ・を消す */
  padding-left: 0;
}

.box {
  padding:20px;
  margin:30px;
  border:1px solid #333;
  border-radius:10px;
  background:#efefef;
}

@font-face {
  font-family: 'KH-Dot-Hibiya';
  src: url('../fonts/KH-Dot-Hibiya-24.woff2') format('woff2'),
       url('../fonts/KH-Dot-Hibiya-24.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'KH-Dot-Hibiya', 'sans-serif';
  margin: 20;
}

h1 {
    background: #eee;
}


.border-bottom-1{
    border-bottom: solid 2px #333;
}


a.btn-border {
  border: 2px solid #000;
  border-radius: 0;
  background: #fff;
}

a.btn-border:hover {
  color: #fff;
  background: #787878;
}

header {
    background: #eee;
    padding: 10px;
    text-align: center;
    font-size: 18px;
}

.container {
    display: flex;
    height: calc(100vh - 60px);
}

/* 左のリンク欄 */
.sidebar {
    width: 200px;
    background: #fff;
    padding: 10px;
    border: 2px solid #a5a5a5;
    overflow-y: hidden;
}

.sidebar:hover {
    overflow-y: auto;  /* ホバー時のみスクロールする */
}

.sidebar li {
    margin: 10px 0;
}

.sidebar a {
    text-decoration: none;
    color: #333;
}

.content {
    flex: 1;
    padding: 0;
}

iframe {
    width: 95%;
    max-width: 800px;
    height: 100vh;
    margin: 0 auto;
    border: none;
}

.content iframe {
    display: block;
    margin: 0 auto;
    width: 80%; 
    height: 100vh;
    border: 2px solid #333;
    margin-left: 2%;
}

/* ここから日記ページの調整 */
.diary p {
    line-height: 2.0;
    padding: 25px;
}

.scroll {
  width: 800px; 
  height: 40px; 
  margin: 0px auto;      /* 上下余白、中央寄せ */
  overflow: hidden;       /* 文字を隠す */
  background: #f9f9f9; 
  display: flex;
  align-items: center;    
  white-space: nowrap;     /* 改行しない */
}

.scroll h3 {
  display: inline-block;
  padding-left: 100%;      /* 右端から流れる */
  animation: scroll-text 15s linear infinite; /* 横スクロール */
  margin: 0;
}

/* 流れるテキストのアニメーション */
@keyframes scroll-text {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}
